.wrapper1 {
  margin-left: 5%;
}

.wrapper1 > form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  height: 30px;
  align-self: center;
  color: #fff;
  border: none;
  background-color: rgba(173, 31, 234, 1);
  border-radius: 5px;
  width: 90px;
  cursor: pointer;
  font-weight: bold;
  display: inline;
}
