.btn {
  height: 30px;
  align-self: center;
  color: #fff;
  border: none;
  background-color: rgba(173, 31, 234, 1);
  border-radius: 5px;
  width: 115px;
  cursor: pointer;
}

.wrapper {
  background-color: #fff;
  width: 80%;
  border-radius: 10px;
  margin-top: 20px;
  height: 70vh;
  position: relative;
}

.innerWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img {
  margin-bottom: 30px;
}

.innerWrapper h4 {
  margin-bottom: 15px;
}

.descriptive {
  color: rgba(100, 113, 150, 1);
  margin-bottom: 20px;
}

.btn:hover {
  background-color: rgba(199, 90, 246, 1);
}
